/*** Дефолтные значение ***/
/* Фон */
/* Шрифт */
/* Тень */
* {
  margin: 0;
  padding: 0;
}
div,
body,
p {
  box-sizing: border-box;
}
body {
  font-size: 100.01%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #dfeff2;
}
button {
  cursor: pointer;
}
/* Миксин для центрирования отступами */
/* Миксин для центрирования флексом */
/* блок, в котором находятся все остальные элементы */
.page {
  width: 45%;
  padding: 2%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 0.5vh;
  box-shadow: 0 0 3vh grey;
}
/* блок фильтров */
.filters {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin-top: 3vh;
  font-size: 1.2em;
  /* выбор города/месяца */
}
.filters-select {
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  padding-left: 0.1%;
  border-radius: 0.5vh;
  font-size: 1em;
  width: 9vw;
  background-color: white;
}
/* грид с карточками */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  width: 100%;
  margin-top: 3%;
}
/* карточка */
.card {
  background-size: cover;
  border-radius: 0.7vh;
  box-shadow: 0 0 3vh grey;
  position: relative;
  /* виды карточек */
  /* удалить карточку */
  /* текст в карточке */
}
.card-top-left {
  margin-right: 3%;
  height: 15vw;
}
.card-top-right {
  margin-left: 3%;
}
.card-left {
  margin-right: 3%;
  margin-top: 6%;
}
.card-right {
  margin-left: 3%;
  margin-top: 6%;
}
.card-white-trash {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8%;
  margin-right: 8%;
  font-size: 1.2vw;
}
.card-bottom-text {
  position: absolute;
  bottom: 0;
  color: white;
  margin-bottom: 8%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 1.5vw;
}
/* блок дня мероприятия */
.day {
  position: relative;
  border: solid thin;
  border-color: white;
  border-radius: 0.5vh;
  height: 2.7vw;
  width: 2.7vw;
  color: white;
  top: 8%;
  left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* блок дня при наведении мыши */
  /* день мероприятия */
}
.day:hover {
  background-color: rgba(172, 174, 176, 0.7);
}
.day-text {
  position: absolute;
  font-size: 1.9vw;
  cursor: default;
}
.new-card-form {
  width: 60%;
  height: auto;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 6px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 2%;
  /* Кнопка "Добавить карточку" */
}
.new-card-form .form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5vw;
  margin-top: 5%;
}
.new-card-form .add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 2.7vw;
  margin-top: 5%;
  border-radius: 1.2vh;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
/* Кнопка "Показать ещё" */
.more-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30%;
  height: 2.7vw;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.2vh;
  cursor: pointer;
  background-color: #7a1775;
  display: none;
  /* Текст кнопки "Показать ещё" */
}
.more-cards-text {
  font-size: 1.4vw;
  color: white;
}
/* Мобильная версия */
@media only screen and (max-width: 1000px) {
  /* белое поле расширяется */
  .page {
    width: 90%;
  }
  /* Шрифт в фильтрах увеличивается, а элементы встают в одну колонку */
  .filters {
    width: 100%;
    grid-template-columns: auto;
    grid-auto-rows: 1fr;
    /* селекты занимают всю ширину белого поля */
  }
  .filters-select {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: none;
    width: 100%;
  }
  /* карточки встают в одну колонку */
  .cards {
    grid-template-columns: auto;
  }
  /* изменяется положение и размер каждой карточки; высота теперь зависит от высоты экрана */
  .card {
    width: 100%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: none;
    /* меняются размеры элементов в каждой карточке и их отступы от краёв */
  }
  .card-white-trash {
    font-size: 2.4vh;
    margin-top: 4%;
    margin-right: 4%;
  }
  .card-bottom-text {
    font-size: 4vh;
    margin-bottom: 4%;
    margin-left: 4%;
  }
  .day {
    height: 6vh;
    width: 6vh;
    top: 4%;
    left: 4%;
  }
  .day-text {
    font-size: 3.7vh;
  }
  /* кнопка "Показать ещё" занимает больше места */
  .more-cards {
    width: 50%;
    height: 5vh;
    /* текст карточки теперь зависит от высоты экрана */
  }
  .more-cards-text {
    font-size: 3vh;
  }
}
