/*** Дефолтные значение ***/

/* Фон */
$bg-default: rgb(223, 239, 242);
/* Шрифт */
$font-default: Arial, Helvetica, sans-serif;
/* Тень */
$shadow-default: 0 0 3vh grey;

* {
    margin: 0;
    padding: 0;
}

div, body, p {
    box-sizing: border-box;
}

body {
    font-family: $font-default; 
    color: black;
    background-color: $bg-default;
}

button {
    cursor: pointer;
}

/* Миксин для центрирования отступами */
@mixin center-auto() {
    margin-left: auto;
    margin-right: auto;
}

/* Миксин для центрирования флексом */
@mixin center-flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

$page-width: 45%;

/* блок, в котором находятся все остальные элементы */
.page {
    width: $page-width;
    padding: 2%;
    background-color: white;
    @include center-auto();
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.5vh;
    box-shadow: $shadow-default;
}

/* грид с карточками */
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
}

$margin-card-elem: 8%;

/* карточка */
.card {
    display: block;
    background: center;
    background-size: cover;
    border-radius: 0.7vh;
    box-shadow: $shadow-default;
    position: relative;
    background-color: black;
    height: 15vw;

    /* виды карточек */
    &_left {
        margin-right: 3%;
        margin-top: 6%;
    }

    &_right {
        margin-left: 3%;
        margin-top: 6%;
    }

    /* закладка */
    &_white_bookmark {
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: $margin-card-elem;
        margin-right: $margin-card-elem;
        font-size: 1.2vw;
    }

    /* текст в карточке */
    &_bottom_text {
        position: absolute;
        bottom: 0;
        color: white;
        margin-bottom: $margin-card-elem;
        margin-left: $margin-card-elem;
        font-size: 1.5vw;
    }
}

$day-margin: 8%;

/* блок дня мероприятия */
.day {
    position: relative;
    border: solid thin;
    border-color: white;
    border-radius: 0.5vh;
    height: 2.7vw;
    width: 2.7vw;
    color: white;
    top: $day-margin;
    left: $day-margin;
    @include center-flex();

    /* блок дня при наведении мыши */
    &:hover {
        background-color: rgba(172, 174, 176, 0.7);
    }

    /* день мероприятия */
    &_text {
        position: absolute;
        font-size: 1.9vw;
    }
}

.info_page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    @include center-flex();
    
    .info_card {
        position: relative;
        width: 25%;
        height: 70%;
        background-color: white;
        border-radius: 0.5vh;

        &_img {
            width: 100%;
            height: 60%;
            background-size: contain;
            @include center-flex();

            img {
                max-width: 80%;
                max-height: 90%;
                border-radius: 0.5vh;
            }
        }

        h3 {
            text-align: center;
        }

        &_text {
            display: inline-block;
            margin-left: 10%;
        }

        a {
            display: inline-block;
            position: absolute;
            bottom: 0.5vw;
            right: 0.5vw;
        }
    }
}